<div id="full-width">
{{<layout}}

{{$pageTitle}}
	DWP - View Income
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{#data}}
		<div class="logo-banner">
			<div class="logo">
				<span class="organisation-logo">Department for Work and Pensions</span>
			</div>
		</div>

	  <div class="buttons-container">
	      <p><a href="/RTI/">Back</a></p>
	  </div>
	  <h1 class="heading-large">Income for {{name}}</h1>
	  <div class="grid-row">
	    <div class="column-half">
	      <h2 class="bold-medium person-nino">National Insurance Number: {{nino}}</h2>
	    </div>
	  </div>
		{{#earnings}}
	  <div class="income-details">
	    <div>
	      <h3 class="heading-medium">{{organisation}} {{#pension}}(Pension){{/pension}}{{^pension}}(Employment){{/pension}}</h3>
	      <p>{{startDate}} - {{endDate}}</p>
	    </div>
		<details>
      <summary class="summary">View payments</summary>
				<table>
		      <thead>
		        <tr>
							<th scope="col">Date</th>
							<th scope="col">Frequency</th>
							<th scope="col" class="numeric">Gross</th>
							<th scope="col" class="numeric">Benefits in kind</th>
		          <th scope="col" class="numeric">Payments not subject to tax</th>
							<th scope="col" class="numeric">Deductions from net pay</th>
		          <th scope="col" class="numeric">Deductions</th>
							<th scope="col" class="numeric">Net</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#payments}}
			        <tr>
			          <td>{{datePaid}}</td>
			          <td>{{Pay_Frequency}}</td>
			          <td class="numeric">{{gross}}</td>
		          	<td class="numeric">{{Value_of_benefits}}</td>
			          <td class="numeric">{{Value_of_payments}}</td>
			          <td class="numeric">{{Value_of_deductions_from_net_pay}}</td>
			          <td class="numeric">
									{{^ni_contribution}}
										<a href="#"
										data-date="{{datePaid}}"
										data-deduction="{{deduction}}"
										class="deductions">
									{{/ni_contribution}}

									{{#ni_contribution}}
										<a href="#"
										data-date="{{datePaid}}"
										data-nic={{ni_contribution}}
										data-tax={{tax}}
										data-pensioncontribution={{pension}}
										class="deductions">
									{{/ni_contribution}}

									{{deduction}}</a></td>
			          <td class="numeric">{{net}}</td>
								<td>
									{{#Irregular_Payment_Indicator}}<p>Irregular Payment</p>{{/Irregular_Payment_Indicator}}
									{{#Indicator that the payment is a payment after date of notification of contract ending}}<p>Payment after leaving</p>{{/Indicator that the payment is a payment after date of notification of contract ending}}
									{{#Flexibly accessing pension rights}}<p>Pension drawdown </p>{{/Flexibly accessing pension rights}}
								</td>
			        </tr>
							{{/payments}}
			      </tbody>
			    </table>
			</details>


  </div>
  <div class="buttons-container">
    <p><a href="/RTI/index1">Back</a></p>
  </div>
{{/earnings}}
	<div class="modal fade" id="deductions-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close pull-right" data-dismiss="modal">
	          <span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
	          <h4 class="heading-small" id="popupTitle">Deductions breakdown...</h4>
	        </div>
	        <div class="modal-body"></div>
	    </div>
	  </div>
	</div>
	{{/data}}
</main>

{{/content}}

{{/layout}}
</div>
