{{<layout}}

{{$pageTitle}}
	DWP - View Income
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="logo-banner">
		<div class="logo">
			<span class="organisation-logo">Department for Work and Pensions</span>
		</div>
	</div>

  <div class="buttons-container">
      <p><a href="/RTI/">Back</a></p>
  </div>
  <h1 class="heading-large">Income for John Smith</h1>
  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium person-nino">National Insurance Number: AB123456C</h2>
    </div>
  </div>
  <div class="income-details">
    <div>
      <h3 class="heading-medium">Prudentials (Pension)</h3>
      <p>10/07/13 - 10/03/15</p>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Year to date</th>
					<th scope="col">Staus</th>
					<th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
					<td>10/03/15</td>
					<td>year to date</td>
					<td>Received</td>
					<td><a href="./earnings.html">View earnings data</a></td>
				</tr>
				<tr>
					<td>10/02/15</td>
					<td>year to date</td>
					<td>Received</td>
					<td><a href="./earnings.html">View earnings data</a></td>
				</tr>
				<tr>
					<td>10/01/15</td>
					<td>year to date</td>
					<td>Received</td>
					<td><a href="./earnings.html">View earnings data</a></td>
				</tr>
      </tbody>
    </table>

    <div>
      <h3 class="heading-medium">Norwich Union (Pension) </h3>
      <p>10/07/13 - 10/03/15</p>
    </div>
    <details>
      <summary class="summary">View payments</summary>
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th class="numeric" scope="col">Gross</th>
            <th class="numeric" scope="col">Deduction</th>
            <th class="numeric" scope="col">Net</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10/02/15</td>
            <td class="numeric">300.00</td>
            <td class="numeric"><a href="#" data-date="10/02/15" data-deduction="60.00" class="deductions">60.00</a></td>
            <td class="numeric">240.00</td>
          </tr>
          <tr>
            <td>10/01/15</td>
            <td class="numeric">300.00</td>
            <td class="numeric"><a href="#" data-date="10/01/15" data-deduction="60.00" class="deductions">60.00</a></td>
            <td class="numeric">240.00</td>
          </tr>
          <tr>
            <td>10/12/14</td>
            <td class="numeric">300.00</td>
            <td class="numeric"><a href="#" data-date="10/12/14" data-deduction="60.00" class="deductions">60.00</a></td>
            <td class="numeric">240.00</td>
          </tr>
        </tbody>
      </table>
    </details>
    <div>
      <h3 class="heading-medium">Asda (Employment) </h3>
      <p>10/04/13 - 10/03/15</p>
    </div>
    <details>
      <summary class="summary">View payments</summary>
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th class="numeric" scope="col">Gross</th>
            <th class="numeric" scope="col">Deduction</th>
            <th class="numeric" scope="col">Net</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10/02/15</td>
            <td class="numeric">1800.00</td>
            <td class="numeric"><a href="#" data-date="10/02/15" data-deduction="419.44" data-tax="193.00" data-nic="136.44" data-pensioncontribution="90.00" class="deductions">419.44</a></td>
            <td class="numeric">1380.56</td>
          </tr>
          <tr>
            <td>10/01/15</td>
            <td class="numeric">1800.00</td>
            <td class="numeric"><a href="#" data-date="10/01/15" data-deduction="419.44" data-tax="193.00" data-nic="136.44" data-pensioncontribution="90.00" class="deductions">419.44</a></td>
            <td class="numeric">1380.56</td>
          </tr>
          <tr>
            <td>10/12/14</td>
            <td class="numeric">1800.00</td>
            <td class="numeric"><a href="#" data-date="10/12/14" data-deduction="419.44" data-tax="193.00" data-nic="136.44" data-pensioncontribution="90.00" class="deductions">419.44</a></td>
            <td class="numeric">1380.56</td>
          </tr>
        </tbody>
      </table>
    </details>
  </div>
  <div class="buttons-container">
    <p><a href="/RTI/">Back</a></p>
  </div>
</main>

{{/content}}

{{/layout}}
