
{{<layout}}

{{$pageTitle}}
	DWP - View Income
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="logo-banner">
		<div class="logo">
			<span class="organisation-logo">Department for Work and Pensions</span>
		</div>
	</div>

  <div class="buttons-container">
      <p><a href="/RTI/data3.html">Back</a></p>
  </div>
  <h1 class="heading-large">Income for John Smith</h1>
  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium person-nino">National Insurance Number: AB123456C</h2>
    </div>
  </div>
  <div class="income-details">
    <div>
      <h3 class="heading-medium">Prudentials (Pension)</h3>
      <p>10/02/15</p>
    </div>
			<table>
        <thead>
          <tr>
            <th class="numeric" scope="col">Gross</th>
            <th class="numeric" scope="col">Payments not subject to tax</th>
            <th class="numeric" scope="col">Deductions from net pay</th>
            <th class="numeric" scope="col">Tax</th>
						<th class="numeric" scope="col">Benefits in kind</th>
            <th class="numeric" scope="col">National Insurance</th>
            <th class="numeric" scope="col">Pension</th>
            <th class="numeric" scope="col">Deduction</th>
            <th class="numeric" scope="col">Net</th>
          </tr>
        </thead>
        <tbody>
					<tr>
						<td class="numeric">1500.00</td>
						<td class="numeric">1100.00</td>
						<td class="numeric">400.00</td>
						<td class="numeric">100.00</td>
						<td class="numeric">100.00</td>
						<td class="numeric">100.00</td>
						<td class="numeric">100.00</td>
						<td class="numeric">100.00</td>
						<td class="numeric">1100.00</td>
          </tr>
        </tbody>
      </table>
  <div class="buttons-container">
    <p><a href="/RTI/data3.html">Back</a></p>
  </div>
</main>

{{/content}}

{{/layout}}
