{{<layout}}

{{$pageTitle}}
	DWP - View Income
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="logo-banner">
		<div class="logo">
			<span class="organisation-logo">Department for Work and Pensions</span>
		</div>
	</div>

  <h1 class="heading-large">Interest Set</h1>
  <div class="set">
    <p>Thank you interest has been set.</p>
    <p>Earnings information should be available the next working day.</p>
    <p>Unless interest set after 14.30 on a Thursday in which case earnings data will be available on Monday morning.</p>
    <p>Create a task to track.</p>
  </div>

</main>

{{/content}}

{{/layout}}
